a, u {
    text-decoration: none;
    color: black;
}
.CenterLogo
{
    width: 1450px;
    height: 150px;

}
#Logo
{
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;

}
.Logotext
{
    display:inline
}
.Navigation{
    overflow: auto;
    list-style: none;
    white-space: nowrap;
    display: inline;
}
.Navigation a
{
    padding-left: 40px;
    font-size: 50px;

}
.NavigationList
{
    margin-left: 400px;
}

.table1
{
    background-color: bisque;
    font-size: 20px;
}
footer
{
    margin-top: 10px;
}
footer a
{
    display: inline;
    margin: 0 auto;
    padding-left: 330px;
}
